<div class="search-results" data-search-target="results">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <div class="result" data-action="click->search#copy">
        <div class="result__prompt"><%= result.prompt %></div>
      </div>
    <% end %>
  <% end %>

  <% if @search_term.present? && @result.blank? %>
    <div class="result">
      <div class="result__title">No results found</div>
    </div>
  <% end %>   
</div>
